.card {
    width: 80vw;
    min-width: 200px;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 0 0 5px #11FFBD;
}

.card-header {
    color:white;
    height: 100px;
    display: flex;
    border-radius: 10px 10px 0 0;
    align-items: center;;
    padding: 0 1rem;
    background: #AAFFA9;
    background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);  
    background: linear-gradient(to right, #11FFBD, #AAFFA9);
}

.card-body {
    border-radius: 0 0 10px 10px;
}

.todo-entry {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: #f2fcfe;
}

.todo-entry.completed p {
    color: grey;
    text-decoration: line-through;
}

.todo-entry.placeholder input[type="text"] {
    height: 1.5rem;
    font-size: 1rem;
    width: 90%;
    border-radius: 0.2rem;
    padding: 0.1rem 1rem;
    outline: none;
    border: none;
    background:#f2fcfe;
}

.todo-entry p {
    width: 90%;
    margin: 0 1rem;
}

.todo-utils {
    display: flex;
}

i {
    cursor: pointer;
    color: #11FFBD;
    margin: .5rem;
}

i.fa-trash-alt {
    color: #EA384D;
}
i.fa-pen {
    color: #FFE000;
}